<a id="descargar">descarga</a>
<!--etiqueta div con un ID-->
<div id="resultado"></div>
<script>
     var x = prompt('ingresa el numero de sucesion'); // primera variable para guardar el numero ingresado por el usuario
     var s = parseInt(x); //Guardar el entero introducido
     var res = []; //Variable para nombrar el array
     for (var n = 0; n < 100; n++) { //inicio de ciclo for 
          var imprime = n * s; // Variable que guarda la multiplicacion de los resultados de cada iteración
          res[n] = imprime; // Conversion de las iteraciones en array
          console.log(res); //imprimir los resultados en array
     } //fin del ciclo 
     for (var i = 0; i < res.length; i++) { //inicio de un ciclo 
          document.write(res[i] + '<br>'); // imprime el resultado del array
     } //fin del ciclo
     var contenidoDeArchivo = res; //variable para renombrara el resultado 
     var elem = document.getElementById('descargar'); //metodo para llamar la etiqueta con id
     elem.download = "sucesion numerica " + s + ".txt"; //funcion para guardar un archivo txt 
     elem.href = "data:application/octet-stream," //
          +
          encodeURIComponent(contenidoDeArchivo); //
</script>
